.update_schedule_wrapper {
  width: 100%;
  height: 90vh;
  display: grid;
  place-items: center;
}

.update_schedule {
  width: 30%;
  padding: 2em;
  box-shadow: 0px 0px 5px 2px rgb(197, 197, 197);
  background-color: #fff;
}

.update_form_btns {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.update_schedule h4 {
  text-align: center;
  margin-bottom: 1em;
  color: blue;
}
